* {
    box-sizing: border-box;
}

body {
    margin: 0;
    line-height: 1.5;

}

img {
    display: block;
    max-width: 100%;
}

#header {
    background: url("../images/bg-pattern-intro-desktop.svg") no-repeat center/cover hsl(13, 100%, 72%);
    padding: 2rem;

    border-bottom-left-radius: 50px;
}

.navbar {
    display: flex;
    align-items: center;

}

.navbar a {
    padding: 1rem;
    text-decoration: none;
    color: #fff;
}

.login {
    margin-left: auto;
}

.login,
.signup {
    background: darkgreen;
    color: darkgreen;
    margin-right: 1rem;
    border-radius: 1rem;
    padding: 0.5rem !important;
}

.mid {
    text-align: center;
    color: #fff;
}

.mid p {
    margin-top: -1rem;
    padding-bottom: 1rem;
}


.mid .buttons a {
    text-decoration: none;
    background: #fff;
    border-radius: 1rem;
    margin: 1rem;
    padding: .5rem;
}

.mid a:hover {
    background: darksalmon;
}

.middlesection {
    margin: 2rem 0;
    padding: 5rem;
    /* border: solid rgb(32, 17, 85); */
    position: relative;
    overflow: hidden;
}

.middlesection h1 {
    text-align: center;
}

.midcontainer {
    /* border: solid crimson; */

    
}

.midleft p {
    width: 58ch;
    /* padding-right: 40rem; */
}

.midsecpic {
    position: absolute;
    top: 130px;
    right: -140px;
    /* margin-right: -8.5rem; */
}

.midsecpic img {
    width: 500px;
}

.thirdsection {
    max-width: 1400px;
    margin: auto;
    /* border: solid yellow; */
    margin-bottom: 10rem;
    background: hsl(237, 17%, 21%);
    color: #fff;
    position: relative;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
}

.thirdsection,
.img1-container,
.thirdsection .text {
    height: 300px;
}

.img1-container {
    position: relative;
    overflow: hidden;
    /* border: solid purple; */
    width: 100%;
}

.img1 {
    position: absolute;
    transform: scale(0.7) translate(-300px, -600px);
}

.img1 img {
    width: 800px;
}

.img2 {
    position: absolute;
    top: -120px;
    left: 10px;
    transform: scale(0.75);
}

.thirdsection .text {
    width: 50%;
    /* border: solid brown; */
    position: absolute;
    right: 0;
    top: 60px;
    display: grid;

}


.fourthsection {
    display: grid;
    align-items: center;
    margin: auto;
    grid-template-columns: 1fr 1fr;
}

.fourthtexts {
    display: grid;
    gap: 1.2rem;
}


.fourthsection p {
    width: 55ch;
}

.fourthimg {
    margin-left: -17.5rem;
}

footer {
    /* justify-content: center; */
    justify-content: space-evenly;

    height: 250px;
    color: white;
    background: hsl(237, 17%, 21%);
    display: flex;

    border-top-right-radius: 50px;
    /* padding-left: 5rem; */
    padding-top: 2rem;

}

.footerlinks {
    /* padding: left 5rem; ; */
    color: aqua;
}

footer a {
    /* color: yellow; */
    text-decoration: none;
    display: block;
    color: white;
}

.companysec {
    /* color: yellow; */
    text-decoration: none;
    display: block;
    color: white;

}

