* {
    box-sizing: border-box;
}

body {
    margin: 0;
    line-height: 1.5;

}

img {
    display: block;
    max-width: 100%;
}

#header {
    background: url("../images/bg-pattern-intro-desktop.svg") no-repeat center/cover hsl(13, 100%, 72%);
    padding: 2rem;

    border-bottom-left-radius: 50px;
}

.navbar {
    display: flex;
    align-items: center;

}

.navbar a {
    padding: 1rem;
    text-decoration: none;
    color: #fff;
}

.login {
    margin-left: auto;
}

.login,
.signup {
    background: darkgreen;
    color: darkgreen;
    margin-right: 1rem;
    border-radius: 1rem;
    padding: 0.5rem !important;
}

.mid {
    text-align: center;
    color: #fff;
}

.mid p {
    margin-top: -1rem;
    padding-bottom: 1rem;
}


.mid .buttons a {
    text-decoration: none;
    background: #fff;
    border-radius: 1rem;
    margin: 1rem;
    padding: .5rem;
}

.mid a:hover {
    background: darksalmon;
}

.middlesection {
    margin: 2rem 0;
    padding: 5rem;
    /* border: solid rgb(32, 17, 85); */
    position: relative;
    overflow: hidden;
}

.middlesection h1 {
    text-align: center;
}

.midcontainer {
    border: solid crimson;
}

.midleft p {
    width: 58ch;
    /* padding-right: 40rem; */
}

.midsecpic {
    position: absolute;
    top: 100px;
    right: -140px;
    /* margin-right: -8.5rem; */
}

.midsecpic img {
    width: 500px;
}